
        #spinner {
            display: none;
        }

        #display-total {
            display: none;
            
        }

        #error-message1 {
            display: none;
        }

        #error-message2 {
            display: none;
        }
    